<tr class="hover">
  <div id="<%= dom_id service %>">
    <th class="font-normal">
      <p>
        <%= l service.date %>
      </p>
    </th>

    <td>
      <p>
        <%= service.mode %>
      </p>
    </td>

    <td>
      <p>
        <%= service.numéro_service %>
      </p>
    </td>

    <td>
      <p>
        <%= service.horaire %>
      </p>
    </td>

    <td>
      <p>
        <%= service.origine %>
      </p>
    </td>

    <td>
      <p>
        <%= service.destination %>
      </p>
    </td>
  </div>
</tr>
