<div id="<%= dom_id source %>">

  <p class="my-4 text-xl">
    <strong><%= source.gare %></strong>
    (<%= source.sens %>)
  </p>

  <p class="my-4">
    <strong class="font-medium mb-1">URL : </strong>
    <%= link_to source.url, source.url, target: '_blank' %>
  </p>

  <p class="my-4">
    <strong class="font-medium mb-1">Dernière collecte le : </strong>
    <% if source.collected_at %>
      <%= l source.collected_at %>
      <span class="<%= ((DateTime.now.to_i - source.collected_at.to_i) > 15.minutes) ? 'bg-red-200' : 'bg-green-200' %>">
        (<i><%= time_tag source.collected_at, "data-local": "time-ago" %></i>)
      </span>
    <% end %>
  </p>

  <p class="my-4">
    <strong class="font-medium mb-1">Utilisateurs : </strong>
    <%= source.users.pluck(:nom).join(', ') %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Voir cette source", source, class: "btn-sm rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    <%= link_to 'Éditer cette source', edit_source_path(source), class: "btn-sm rounded-lg py-3 ml-2 px-5 bg-gray-100 font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
