<tr class="hover">
  <div id="<%= dom_id disturbance %>">
    <th>
      <p>
        <%= disturbance.id %>
      </p>
    </th>

    <td>
      <p>
        <%= disturbance.origine %>
      </p>
    </td>

    <td>
      <p>
        <%= disturbance.train %>
      </p>
    </td>

      <% if disturbance.sens == 'Départ' %>
        <td>
          <p>
            <%= disturbance.destination %>
          </p>
        </td>

        <td>
          <p>
            <%= disturbance.départ_prévu %>
          </p>
        </td>

        <td>
          <p>
            <%= disturbance.départ_réel %>
          </p>
        </td>
      <% else %>
        <td>
          <p>
            <%= disturbance.provenance %>
          </p>
        </td>

        <td>
          <p>
            <%= disturbance.arrivée_prévue %>
          </p>
        </td>

        <td>
          <p>
            <%= disturbance.arrivée_réelle %>
          </p>
        </td>
      <% end %>

      <td>
        <p>
          <%= disturbance.voie.gsub('non disponible', 'ND') %>
        </p>
      </td>

      <td>
        <p>
          <span style="<%= disturbance.raison.include?('Supprimé') ? 'color: red;' : (disturbance.raison.include?('Retard') ? 'color: orange;'  : '')  %>">
            <%= disturbance.raison %>
          </span>
        </p>
      </td>

      <td>
        <p>
          <%= disturbance.information %>
        </p>
      </td>

      <% if params[:action] == 'show' %>
        <td>
          Gare ID : 
          <%= "(#{ disturbance.gare_id })" if disturbance.gare_id %>
        </td>
      <% end %>

      <% if disturbance.information_payload && params[:action] == 'show' %>
        <small>
          <pre>
            <%= JSON.pretty_generate(disturbance.information_payload) %>
          </pre>
        </small>
      <% end %>

      <td>
        <p>
          <%= time_tag disturbance.created_at, "data-local": "time-ago" %>
        </p>
      </td>

      <td>
        <% unless  params[:action] == 'show' %>
          <%= link_to 'Voir', disturbance_path(disturbance), class: "btn btn-ghost btn-xs" %>
        <% end %>
      </td>
    </td>
  </div>
</tr>