<div id="<%= dom_id disturbance %>">

  <p>
    <strong>#</strong>
    <%= disturbance.id %>
  </p>

  <p>
    <strong>Train:</strong>
    <%= disturbance.train %>
  </p>

  <% if disturbance.sens == 'Départ' %>
    <p>
      <strong>Horaire Départ:</strong>
      <%= disturbance.départ %>
    </p>

    <p>
      <strong>Destination:</strong>
      <%= disturbance.destination %>
    </p>
  <% else %>
    <p>
      <strong>Horaire Arrivée:</strong>
      <%= disturbance.arrivée %>
    </p>

    <p>
      <strong>Provenance:</strong>
      <%= disturbance.provenance %>
    </p>
  <% end %>

  <p>
    <strong>Voie:</strong>
    <%= disturbance.voie %>
  </p>

  <p>
    <strong>Raison:</strong>
    <span style="<%= disturbance.raison.include?('Supprimé') ? 'color: red;' : (disturbance.raison.include?('Retard') ? 'color: orange;'  : '')  %>">
      <%= disturbance.raison %>
    </span>
  </p>

  <p>
    <strong>Enregistrée le:</strong>
    <%= l disturbance.created_at %>
    (<%= time_tag disturbance.created_at, "data-local": "time-ago" %>)
  </p>

  <hr>

</div>
