<div id="<%= dom_id disturbance %>">
  <p>
    <strong>Date:</strong>
    <%= disturbance.date %>
  </p>

  <p>
    <strong>Train:</strong>
    <%= disturbance.train %>
  </p>

  <p>
    <strong>Départ:</strong>
    <%= disturbance.départ %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= disturbance.destination %>
  </p>

  <p>
    <strong>Voie:</strong>
    <%= disturbance.voie %>
  </p>

  <p>
    <strong>Raison:</strong>
    <%= disturbance.raison %>
  </p>

</div>
