<div id="<%= dom_id disturbance %>">

  <p>
    <strong>#</strong>
    <%= disturbance.id %>
  </p>

  <p>
    <strong>Train:</strong>
    <%= disturbance.train %>
  </p>

  <% if disturbance.sens == 'Départ' %>
    <p>
      <strong>Départ prévu:</strong>
      <%= disturbance.départ_prévu %>
    </p>

    <p>
      <strong>Départ réel:</strong>
      <%= disturbance.départ_réel %>
    </p>

    <p>
      <strong>Destination:</strong>
      <%= disturbance.destination %>
    </p>
  <% else %>
    <p>
      <strong>Arrivée prévue:</strong>
      <%= disturbance.arrivée_prévue %>
    </p>

    <p>
      <strong>Arrivée réelle:</strong>
      <%= disturbance.arrivée_réelle %>
    </p>

    <p>
      <strong>Provenance:</strong>
      <%= disturbance.provenance %>
    </p>
  <% end %>

  <p>
    <strong>Voie:</strong>
    <%= disturbance.voie %>
  </p>

  <p>
    <strong>Raison:</strong>
    <span style="<%= disturbance.raison.include?('Supprimé') ? 'color: red;' : (disturbance.raison.include?('Retard') ? 'color: orange;'  : '')  %>">
      <%= disturbance.raison %>
    </span>
  </p>

  <p>
    <strong>Information:</strong>
    <%= disturbance.information %>
  </p>

  <p>
    <strong>Enregistrée :</strong>
    <%= time_tag disturbance.created_at, "data-local": "time-ago" %>
  </p>

  <hr>

</div>
