<div id="<%= dom_id disturbance %>">

  <p>
    <strong>Train:</strong>
    <%= disturbance.train %>
  </p>

  <p>
    <strong>Départ:</strong>
    <%= disturbance.départ %>
  </p>

  <p>
    <strong>Origine:</strong>
    <%= disturbance.origine %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= disturbance.destination %>
  </p>

  <p>
    <strong>Voie:</strong>
    <%= disturbance.voie %>
  </p>

  <p>
    <strong>Raison:</strong>
    <%= disturbance.raison %>
  </p>

  <p>
    <strong>Enregistré le:</strong>
    <%= l disturbance.created_at %>
    (<%= time_tag disturbance.created_at, "data-local": "time-ago" %>)
  </p>
  <hr>

</div>
