<%= form_with(model: disturbance) do |form| %>
  <% if disturbance.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(disturbance.errors.count, "error") %> prohibited this disturbance from being saved:</h2>

      <ul>
        <% disturbance.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :origine, style: "display: block" %>
    <%= form.text_field :origine %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.text_field :date %>
  </div>

  <div>
    <%= form.label :train, style: "display: block" %>
    <%= form.text_field :train %>
  </div>

  <div>
    <%= form.label :destination, style: "display: block" %>
    <%= form.text_field :destination %>
  </div>

  <div>
    <%= form.label :départ, style: "display: block" %>
    <%= form.text_field :départ %>
  </div>

  <div>
    <%= form.label :départ_prévu, style: "display: block" %>
    <%= form.text_field :départ_prévu %>
  </div>

  <div>
    <%= form.label :départ_réel, style: "display: block" %>
    <%= form.text_field :départ_réel %>
  </div>

  <div>
    <%= form.label :provenance, style: "display: block" %>
    <%= form.text_field :provenance %>
  </div>

  <div>
    <%= form.label :arrivée, style: "display: block" %>
    <%= form.text_field :arrivée %>
  </div>

  <div>
    <%= form.label :arrivée_prévue, style: "display: block" %>
    <%= form.text_field :arrivée_prévue %>
  </div>

  <div>
    <%= form.label :arrivée_réelle, style: "display: block" %>
    <%= form.text_field :arrivée_réelle %>
  </div>

  <div>
    <%= form.label :voie, style: "display: block" %>
    <%= form.text_field :voie %>
  </div>

  <div>
    <%= form.label :raison, style: "display: block" %>
    <%= form.text_field :raison %>
  </div>

  <div>
    <%= form.label :information, style: "display: block" %>
    <%= form.text_field :information %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
