<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl mt-1 mb-4">Perturbations</h1>
  </div>

  <%= form_tag disturbances_path, method: :get do %>
    <div class="flex flex-wrap xl:flex-nowrap">

      <div class="mr-4">
        <%= label_tag :du, "Du", class: "label" %>
        <%= text_field_tag :du,
                            params[:du],
                            type: "date",
                            class: 'input input-sm input-bordered w-full max-w-xs', 
                            onchange: 'this.form.submit()' %>
      </div>

      <div class="mr-4">
        <%= label_tag :au, "Au", class: "label" %>
        <%= text_field_tag :au,
                            params[:au],
                            type: "date",
                            class: 'input input-sm input-bordered w-full max-w-xs', 
                            onchange: 'this.form.submit()' %>
      </div>

      <div class="mr-4">
        <%= label_tag :gare, "Gare", class: "label" %>
        <%= select_tag :gare,
                        options_for_select(@gares, params[:gare]), 
                        include_blank: true,
                        class: 'select select-sm select-bordered w-full max-w-xs', 
                        onchange: 'this.form.submit()' %>
      </div>

      <div class="mr-4">
        <%= label_tag :train, "Train(s)", class: "label" %>
        <%= text_field_tag :train,
                        params[:train],
                        include_blank: true,
                        class: 'input input-sm select-bordered w-full max-w-xs',
                        onchange: 'this.form.submit()' %>
      </div>

      <div class="mr-4">
        <%= label_tag :perturbation, "Perturbation", class: "label" %>
        <%= select_tag :perturbation, 
                        options_for_select(@perturbations, params[:perturbation]), 
                        include_blank: true,
                        class: 'select  select-sm select-bordered w-full max-w-xs', 
                        onchange: 'this.form.submit()' %>
      </div>

      <div>
        <%= label_tag :information, "Information", class: "label" %>
        <%= select_tag :information, 
                        options_for_select(@informations, params[:information]), 
                        include_blank: true,
                        class: 'select select-sm select-bordered w-full max-w-xs', 
                        onchange: 'this.form.submit()' %>
      </div>

    </div>
  <% end %>

  <div id="disturbances" class="my-4 overflow-x-auto">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>Date</th>
          <th>Gare</th>
          <th>Train</th>
          <th>Destination/Provenance</th>
          <th>Prévu</th>
          <th>Réel</th>
          <th>Perturbation</th>
          <th>Information</th>
          <th>ID</th>
        </tr>
      </thead>
      <tbody>
        <%= render @disturbances %>
      </tbody>
      <tfoot>
        <th colspan=9></th>
      </tfoot>
    </table>
  </div>

  <%= page_entries_info @disturbances, entry_name: 'perturbation' %>
  <%= paginate @disturbances %>

  <p class="mt-4">
    <%= link_to 'Export XLS', url_for(params.permit!.merge(format: :xls)) %>
    |
    <%= link_to 'Export XLS+JSON', url_for(params.permit!.merge(format: :xls, with_payload: true)) %>
  </p>
</div>

<script type="text/javascript">
  setInterval(function() {
    window.location.reload();
  }, 5 * 60000); 
</script>
