<p style="color: green"><%= notice %></p>

<%= render @disturbance %>

<div>
  <%= link_to "Editer cette perturbation", edit_disturbance_path(@disturbance) %> |
  <%= link_to "Retour aux perturbations", disturbances_path %>
  <br><br>

<%
=begin%>
   
  <%= button_to "Détruire cette perturbation", @disturbance, method: :delete %> 
<%
=end%>
</div>
