<div class="navbar sticky top-0 z-50 bg-base-100 shadow">
  <div class="navbar-start">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost lg:!hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52">
        <%= render partial:'partials/navbar_items' %>
      </ul>
    </div>
    <a class="normal-case font-bold ml-3"><%= @sitename_short %></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal p-0">
      <%= render partial:'partials/navbar_items' %>
    </ul>
  </div>
  <% if user_signed_in? %>
    <div class="navbar-end">
      <ul class="menu menu-horizontal p-0 sm:mr-3">
        <div class="dropdown dropdown-end mt-2">
          <div tabindex="0" class="avatar online placeholder cursor-pointer">
            <div class="bg-primary-focus text-neutral-content rounded-full w-8">
              <span><%= "#{current_user.prénom.first.humanize if current_user.prénom}" %></span>
            </div>
          </div>
          <ul tabindex="0" class="menu dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-fit">
            <li><p class="font-black"><%= current_user.email %></p></li>
            <hr>
            <% if current_user.admin? %>
              <li>
                <%= link_to sources_path, class:"w-full" do %>
                  <i class="fa-solid fa-cloud-arrow-down"></i>Sources
                <% end %>
              </li>
              <li>
                <%= link_to users_path, class:"w-full" do %>
                  <i class="fa-solid fa-users"></i>Utilisateurs
                <% end %>
              </li>
              <li>
                <%= link_to audits_path, class:"w-full" do %>
                  <i class="fa-solid fa-search"></i>Audit trail
                <% end %>
              </li>
              <li>
                <%= link_to sources_users_path, class:"w-full" do %>
                  <i class="fa-solid fa-arrows-left-right"></i>Sources/Users
                <% end %>
              </li>
            <% end %>
            <hr>
            <li data-turbo="false" class="p-0 w-full">
              <%= button_to destroy_user_session_path, method: :delete, class:'w-full text-left p-3', form_class:'w-full !p-0' do %>
                <i class="fa-solid fa-right-from-bracket ml-1 mr-1"></i>
                Déconnexion
              <% end %>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  <% else %>
    <div class="navbar-end sm:mr-3">
      <ul class="menu menu-horizontal p-0">
        <div class="dropdown dropdown-end mt-2">
          <div tabindex="0" class="avatar offline placeholder cursor-pointer">
            <div class="bg-primary-focus text-neutral-content rounded-full w-8">
              <i class="fa-solid fa-user text-white"></i>
            </div>
          </div>
          <ul tabindex="0" class="menu dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-fit">
            <li>
              <%= link_to new_user_session_path do %>
                <i class="fa-solid fa-right-to-bracket"></i> Connexion
              <% end %>
            </li>
          </ul>
        </div>
      </ul>
    </div>
  <% end %>
</div>