<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl text-error mt-1 mb-4">
      <i class="fa-solid fa-circle-xmark"></i>
      Liste des trains supprimés
    </h1>
  </div>

  <%= form_tag disturbances_path, method: :get do %>
  <% end %>

  <div id="disturbances" class="my-4 overflow-x-auto">
    <table class="table table-zebra w-full">
      <thead>
        <tr>
          <th>Date</th>
          <th>Gare</th>
          <th>Train</th>
          <th>Destination/Provenance</th>
          <th>Prévu</th>
          <th>Information</th>
        </tr>
      </thead>
      <tbody>
        <% current_date = "" %>
        <% count = 0 %>

        <% @paginatable_cancelled.each do |c| %>
          <% cancelled = Disturbance.find_by(date: c.date, train: c.train) %>

          <% if cancelled.date != current_date %>
            <% current_date = cancelled.date %>

            <% if count > 0 %>
              <tr>
                <th class="font-normal" colspan="6">
                  <p>
                    <%= count %>
                  </p>
                </th>
              </tr>
            <% end %>
            <% count = 0 %>

            <tr>
              <th colspan="6">
                <p>
                  <%= l cancelled.date.to_date, format: :long %>
                </p>
              </th>
            </tr>
          <% end %>

          <% count += 1  %>

          <tr class="hover">
            <th>
            </th>

            <td>
              <p>
                <%= cancelled.origine %>
              </p>
            </td>

            <td>
              <p>
                <%= cancelled.train %>
              </p>
            </td>

              <% if cancelled.sens == 'Départ' %>
                <td>
                  <p>
                    ->
                    <%= cancelled.destination %>
                  </p>
                </td>

                <td>
                  <p>
                    <%= cancelled.départ_prévu %>
                  </p>
                </td>
              <% else %>
                <td>
                  <p>
                    <-
                    <%= cancelled.provenance %>
                  </p>
                </td>

                <td>
                  <p>
                    <%= cancelled.arrivée_prévue %>
                  </p>
                </td>
              <% end %>

              <td>
                <p>
                  Supprimé
                  <%= " : #{ cancelled.information }" if cancelled.information %>
                </p>
              </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
        <th colspan=9></th>
      </tfoot>
    </table>
  </div>

  <%= page_entries_info @paginatable_cancelled, entry_name: 'suppression' %>
  <%= paginate @paginatable_cancelled %>

  <p class="mt-4">
    <%= link_to 'Export XLS', url_for(params.permit!.merge(format: :xls)) %>
  </p>
</div>