<div class="mx-auto md:w-2/3 mt-1">
  <div class="flex items-center mb-4">
    <h1 class="font-bold text-4xl">Gares en direct</h1>
  </div>

  <% @sources.each do |source| %>
    <% disturbance = source.last_disturbance %>
    <div tabindex="0" class="<%= 'collapse collapse-arrow' if disturbance %> border border-base-300 rounded-box">
      <div class="collapse-title text-xl font-medium">
        <span style="<%= disturbance ? disturbance.perturbation_style : 'color: forestgreen;' %>">
          <%= source.sens_et_gare %>
        </span>
      </div>
      <% if disturbance %>
        <div class="collapse-content">
          <p>
            <% if disturbance.information %>
              <b><%= disturbance.information %></b>
              <br>
            <% end %>
            Train #<%= disturbance.train %>
            <% if disturbance.sens == 'Départ' %>
                ->
                <%= disturbance.destination %>
            <% else %>
                <-
                <%= disturbance.provenance %>
            <% end %>
          </p>
          <span style="<%= disturbance.perturbation_style%>">
            <%= disturbance.perturbation %>
          </span>
          <br>
          <i>Enregistré <%= time_tag disturbance.created_at, "data-local": "time-ago" %></i>
        </div>
      <% end %>
    </div>
  <% end %>
  <br>
</div>
