<!DOCTYPE html>
<html>
  <head>
    <title>Disturbances</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-41S7XKTC1L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-41S7XKTC1L');
    </script>
    
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.css">
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div style="text-align: right;">
          <small><%= current_user.email %></small>
        </div>
      <% end %>
    </header>

    <main>
      <%= yield %>
    </main>

  </body>
</html>
