<!DOCTYPE html>
<html>
  <head>
    <title>Disturbances</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-41S7XKTC1L"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-41S7XKTC1L');
    </script>
  </head>

  <body>
    <% if user_signed_in? %>
      <header class="text-right mt-3 mr-4">
        <nav>
          <small><%= current_user.email %></small>
          <%= link_to "Déconnexion", 
              destroy_user_session_path, 
              class: "button" 
          %>
        </nav>
      </header>
    <% end %>
    <%= render 'partials/notification' %>
    <main>
      <%= yield %>
    </main>

  </body>
</html>
